# Python cache
__pycache__/
*.pyc
*.pyo

# Environment
.env
.venv
env/
venv/

# IDE files
.vscode/
.idea/

# Data and models
data/
models/

# Jupyter Notebook checkpoints
notebooks/.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# pickle storage
*.pkl

# modle
*.pt

# excel sheet
*.csv
